.about-section {
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 60px 0;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-left: 2px solid #111111;
    margin-left: 7%;
}

.about-column {
    flex-basis: calc(50% - 50px);
    padding: 20px;
}

.about-heading {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-text {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.about-buttons {
    display: flex;
    gap: 20px;
}

.about-button {

    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-1 {
    border: 2px solid transparent;
    border-color: #020202;
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff;
}

.btn-1:hover {
    background-color: transparent;
    color: rgb(2, 2, 2);
    transform: scale(1.05);
}

.btn-2:hover {
    border-color: #020202;
    background-color: rgba(0, 0, 0, 0.87);
    color: #ffffff;
    transform: scale(1.05);
}

.card-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}